# Python
__pycache__/
*.pyc
*.pyo
*.pyd
test_*

# Virtual environment
venv/
.venv/
.env/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

#Claude
.claude/